[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
channels = "*"
pytz = "*"
channels-redis = "*"
debugpy = "*"
psycopg2 = "*"
pytest = "*"
pytest-django = "*"
pytest-asyncio = "*"
freezegun = "*"

[dev-packages]
black = "*"
coverage = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
